<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sa.tws.mapper.DepositoryMapper">

    <select id="findAll" resultType="Depository">
        select * from Depository
    </select>

    <select id="findDepository" resultType="Depository">
        select * from Depository where DepositoryID = #{DepositoryID}
    </select>

    <insert id="insertDepository">
        insert into Depository values (#{DepositoryID}, #{DepositoryLocation}, #{DepositoryStatus}, #{DepositoryID})
    </insert>

    <delete id="deleteDepository">
        delete from Depository where DepositoryID = #{DepositoryID}
    </delete>
    
</mapper>
