<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sa.tws.mapper.UserMapper">
    <select id="findAll" resultType="User">
        select * from User
    </select>

    <select id="findUser" resultType="User">
        select * from User where UserID = #{UserID}
    </select>

    <insert id="insertUser">
        insert into User values (#{UserID}, #{UserName}, #{UserPassword}, #{UserType}, #{UserDepartment})
    </insert>

    <delete id="deleteUser">
        delete from User where UserID = #{UserID}
    </delete>

    <update id="updateUser">
        update User
        <set>
            UserName = #{UserName}, UserPassword = #{UserPassword}, UserType = #{UserType}, UserDepartment = #{UserDepartment}
        </set>
        <where>
            UserID = #{UserID}
        </where>
    </update>

    <select id="selectPage">
        select * from User where UserName like #{arg2} limit #{arg0}, #{arg1}
    </select>

    <select id="selectTotal">
        select count(*) from User where UserName like #{UserName}
    </select>


</mapper>
